body {
    background-color: #EEE;
    color:#9E9E9E;
}
h1 {
    text-align: center;
    margin-top: 40vh;
    margin-bottom: 0px;
    font-weight: 400;
    padding-bottom: 0;
    font-size:400%;
    font-family: serif;
    word-spacing: 2px;
    letter-spacing: 1px;
}
p {
    font-size: 18px;
    clear: both;
    text-align: center;
    margin: 0;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: serif;
}